<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="GoogleSearch" >
        <parameter name="Num" value="200"></parameter>
        <parameter name="UserID" value="abcd"></parameter>
        <parameter name="Password" value="12345"></parameter>
        <parameter name="Name" value="Roshni"></parameter>
        <parameter name="Pwd" value="12345"></parameter>
        <parameter name="StatusCode" value="200"></parameter>
        <classes>
            <class name="may19.Test_001" />
            <class name="may19.Test_002" />
            <class name="may19.Support" />
            <class name="may19.Test_003" />
            <class name="may19.Test_004" />
        </classes>
    </test>
    </suite>
